/* .profile {
  width: 300px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.card_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

div > div p {
  margin: 5px 0;
  color: #555;
}

/* Stats Section */
/* ul:first-of-type */
/* .stats {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

ul:first-of-type li {
  text-align: center;
}

ul:first-of-type span:first-child {
  display: block;
  color: #888;
}

ul:first-of-type span:last-child {
  font-weight: bold;
  color: #333;
}
*/

/* Загальний стиль картки */
.profileCard {
  width: 300px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 0 auto;
}

/* Інформація профілю */
.profileInfo {
  padding: 20px;
}

.profileAvatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  background-color: #757575;
}

.profileName {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px;
  color: #2a2a2a;
}

.profileTag {
  font-size: 14px;
  color: #757575;
  margin: 0;
}

.profileLocation {
  font-size: 14px;
  color: #757575;
  margin-top: 5px;
}

/* Статистика */
.profileStats {
  display: flex;
  justify-content: space-around;
  background-color: #f9f9f9;
  border-top: 1px solid #e4e4e4;
  margin: 0;
  padding: 10px 0;
  list-style: none;
}

.profileStat {
  text-align: center;
}

.statLabel {
  display: block;
  font-size: 12px;
  color: #757575;
}

.statValue {
  font-size: 16px;
  font-weight: bold;
  color: #2a2a2a;
}
/*-------------------------------------*/
